CUDA_PATH       $(EBROOTCUDA)
FFTW3_PATH      $(EBROOTFFTW)
MPI_PATH        $(EBROOTOPENMPI)
HDF5_PATH       $(EBROOTHDF5)
GRACKLE_PATH
GSL_PATH        $(EBROOTGSL)
LIBYT_PATH

# 2. Compiler type
CXX     icpc                    # Serial compiler
CXX_MPI mpicxx                  # MPI compiler (The MPI_PATH/bin/ will be combined automatically)

# 2. Compiler flags
CXXFLAG -g
CXXFLAG -O3

OPENMPFLAG -qopenmp

LIBFLAG

CUDAFLAG
